body {
  color: rgb(68, 68, 68);
  font-family: 'Gentium Book Basic', Georgia, serif;
  font-size: 20px;
  font-wieght: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial;
}

h1 {
  font-size: 80px;
  margin-bottom: 0;
}

header {
  text-align: center;
}

nav {
  width: 600px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 30px;
}

nav li a {
  color: #1079ac;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

.about, .project {
  width: 600px;
  margin: 0 auto;
}

.project img {
  display: block;
  width: 500px;
  margin: 0 auto;
}

.section-split {
  border: 0;
  height: 1px;
  background-color: #cccccc;
  margin-top: 70px;
  margin-bottom: 50px;
}

